<div class="feedback-message">
  {{#if errorMessage}}
    <span class="error-message">{{errorMessage}}</span>
  {{/if}}
</div>
<form class="change-password-form" {{action "changePassword" on="submit"}}>
  <div class="change-password-form-old-password">
    <label>Old password</label>
    {{input value=oldPassword type="password"}}
  </div>
  <div class="change-password-form-new-password">
    <label>New password</label>
    {{input value=newPassword type="password"}}
  </div>
  <div class="change-password-form-new-password-confirmation">
    <label>Confirm new password</label>
    {{input value=newPasswordConfirmation type="password"}}
  </div>
  <button type="submit">Change password</button>
</form>

