<div class="feedback-message">
  {{#if this.errorMessage}}
    <span class="error-message">{{this.errorMessage}}</span>
  {{/if}}
</div>
{{!-- template-lint-disable no-action --}}
<form class="change-password-form" {{action "changePassword" on="submit"}}>
  <div class="change-password-form-old-password">
    <label>
      Old password
      <Input @value={{this.oldPassword}} @type="password" />
    </label>
  </div>
  <div class="change-password-form-new-password">
    <label>
      New password
      <Input @value={{this.newPassword}} @type="password" />
    </label>
  </div>
  <div class="change-password-form-new-password-confirmation">
    <label>
      Confirm new password
      <Input @value={{this.newPasswordConfirmation}} @type="password" />
    </label>
  </div>
  <button type="submit">Change password</button>
</form>