<div class="feedback-message">
  {{#if this.errorMessage}}
    <span class="error-message">{{this.errorMessage}}</span>
  {{/if}}
</div>
<form class="change-password-form" {{action "changePassword" on="submit"}}>
  <div class="change-password-form-old-password">
    <label>Old password</label>
    <Input @value={{this.oldPassword}} type="password" />
  </div>
  <div class="change-password-form-new-password">
    <label>New password</label>
    <Input @value={{this.newPassword}} type="password" />
  </div>
  <div class="change-password-form-new-password-confirmation">
    <label>Confirm new password</label>
    <Input @value={{this.newPasswordConfirmation}} type="password" />
  </div>
  <button type="submit">Change password</button>
</form>
