<div class="feedback-message">
  {{#if this.loading}}
    <span class="loading">Registering...</span>
  {{/if}}
  {{#if this.errorMessage}}
    <span class="error-message">{{this.errorMessage}}</span>
  {{/if}}
</div>
{{!-- template-lint-disable no-action --}}
<form class="registration-form" {{action "register" on="submit"}}>
  <div class="registration-form-name">
    <label>
      Name
      <Input @value={{this.name}} placeholder="John Doe" />
    </label>
  </div>
  <div class="registration-form-nickname">
    <label>
      Username
      <Input @value={{this.nickname}} placeholder="john.doe" />
    </label>
  </div>
  <div class="registration-form-password">
    <label>
      Password
      <Input @value={{this.password}} @type="password" />
    </label>
  </div>
  <div class="registration-form-password-confirmation">
    <label>
      Confirm password
      <Input @value={{this.passwordConfirmation}} @type="password" />
    </label>
  </div>
  <button type="submit">Register</button>
</form>